.group {
	display: flex;
	align-items: center;

	&__name {
		padding: 5px 10px;
		border-radius: 5px;
		color: white;
		margin-right: 12px;
		max-width: 120px;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
